:root {
  --max-width: 1200px;
  --max-width-v2: 1350px;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-650: 2rem; /* 32px */
  --fs-700: 3rem;
  --accent-clr: #e12c48;
  --neutral-clr-white: #ffffff;
  --neutral-clr-black: #000000;
  --text-clr: #05090c;
  --section-gap: 5.063rem;
  --section-margin-block: 6.5rem;
  --mobile-padding-inline: 1.5em;

  /* Swiper */
  --slide-height: 18.063rem;
  --slide-border-radius: 1.125rem;
  /* 289px */
  /* Mobile header height && Header*/
  --mobile-header-height: 71.1719px;
  --header-border-color: #c3c3c3;
  /* CTA */
  --cta-padding: 10px;
  --cta-radius: 2.375rem;
  --cta-main-clr: var(--accent-clr);
  --cta-main-text-clr: var(--neutral-white-clr);
  --cta-main-fs: var(--fs-400);
  --cta-main-text-transform: uppercase;
  --cta-main-lh: 20.11px;

  /* Content */
  --cont-max-w: 87.5rem;

  /* Pretitle */
  --pretitle-fs: 2rem;
  --pretitlte-lh: 5px;

  /* Product-grid */
  --prod-grid-gap: 2em;
  --prod-grid-height: 27.25rem;
  --prod-rad: 1.25rem;

  /* Content with image */
  --mobile-margin-block: 2rem;

  /* Footer */
  --footer-bg-color: #2d2d2d;
  --footer-accent-color: #ff2221;
  --footer-text-color: #ffffff;
  --link-color: #5bc0eb;
  --subfooter-bg-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-src-sans), sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--neutral-clr-white);
  color: var(--neutral-clr-black);
  font-family: var(--font-src-sans), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    background-color: #fff;
    color: #010101;
  }
}

/* Fallback for browsers that don't support prefers-color-scheme */
@media not all and (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    background-color: #fff;
    color: #010101;
  }
}

/* UTILS */
/* Apply fonts directly using the Next.js variables */

html.no-scroll {
  overflow: hidden;
}

.heading-font {
  font-family: var(--font-oswald), sans-serif;
}

.pre-heading-font {
  font-family: var(--font-grand-hotel), cursive;
}

.container-x {
  padding-inline: 1em;
}
/*  */

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.625rem;
  max-width: var(--cont-max-w);
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  header {
    height: var(--mobile-header-height);
  }
}

header .header-logo {
  width: 6.25rem;
  height: auto;
  order: 0;
}

header .header-nav {
  display: flex;
}

header .header-navlist {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

header .header-navlist li {
  text-transform: capitalize;
  transition: color 0.3s cubic-bezier(0.075, 0, 0.165, 1);
}

header .header-navlist li:hover,
header .header-navlist li:active,
header .header-navlist li:focus {
  color: var(--accent-clr);
}

/* Header responsive */
.mobile-menu-wrapper {
  all: unset;

  display: inline-block;
  box-sizing: border-box;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  max-width: 100%;
  outline: none;
}

/* Remove default focus styles in Firefox */
.mobile-menu-wrapper::-moz-focus-inner {
  border: 0;
}

/* Optional: Add your own focus styles */
.mobile-menu-wrapper:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.icon-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.active {
  opacity: 1;
  transform: scale(1);
}

.inactive {
  opacity: 0;
  transform: scale(0.8);
}

@media screen and (max-width: 768px) {
  header .main-cta {
    display: none;
  }

  header .header-logo {
    order: 1;
  }

  header .header-navlist {
    flex-direction: column;
    row-gap: 2rem;
    padding: 2em;
    font-size: var(--fs-500);
    align-items: start;
    width: 100%;
  }

  header .desktop-nav {
    display: none;
  }

  header .mobile-nav {
    position: absolute;
    z-index: 999;
    inset: var(--mobile-header-height) 0 0 0;
    width: 80%;
    background-color: var(--neutral-clr-white);
    transform: translateX(-100%);
    transition:
      transform 0.4s cubic-bezier(0.19, 0, 0.04, 1),
      box-shadow 0.3s 0.1s ease-in-out;
  }
  header .mobile-nav.active {
    transform: translateX(0);
    box-shadow: 12px 5px 11px -2px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 12px 5px 11px -2px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 12px 5px 11px -2px rgba(0, 0, 0, 0.17);
  }
  .mobile-nav.active ~ header,
  header:has(.mobile-nav.active) {
    border-bottom: 1px solid var(--header-border-color);
    transition: border-bottom 0.3s ease;
  }
}

/* ---------------------------------- */

/* DROPDOWN */
@media screen and (max-width: 768px) {
  .header-navlist {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .header-navlist li {
    width: 100%;
  }

  .header-navlist li:first-child {
    width: 100%;
  }

  .header-navlist li:first-child button {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    max-width: 100%;
    outline: none;
    border: 0; /* Remove default focus styles in Firefox */
  }

  .dropdown {
    position: relative;
    width: 100%;
  }

  .dropdown-trigger {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: inherit;
    color: inherit;
  }

  .dropdown-trigger a {
    flex-grow: 1;
    text-decoration: none;
    color: inherit;
  }

  .chevron-icon {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    border: 1px solid var(--header-border-color);
    border-radius: 100vw;
    padding: 0.25em;
    transition: transform 0.5s ease;
  }

  .chevron-icon.rotate {
    transform: rotate(180deg);
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10%);
    transition:
      max-height 0.5s ease,
      opacity 0.5s ease,
      visibility 0.5s,
      transform 0.5s ease;
    overflow: hidden;
  }

  .dropdown-menu.visible {
    max-height: fit-content;
    opacity: 1;
    transform: translateY(0);
  }

  .dropdown-menu ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-top: 1rem;
  }

  .dropdown-menu li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-menu li a {
    font-size: 1rem;
    color: #333333;
    margin-left: 1em;
  }

  .dropdown-menu li img {
    width: 3rem;
    height: auto;
    display: block;
    border-radius: 100vw;
    aspect-ratio: 1;
  }
}
/* ---------------------------------- */

/* CTA */
.main-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1.75em;
  background-color: var(--accent-clr);
  color: var(--neutral-clr-white);
  text-decoration: none;
  border-radius: var(--cta-radius);
  font-size: var(--cta-main-fs);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  text-transform: var(--cta-main-text-transform);
  outline: none;
  max-height: 47px;
  width: fit-content;
}
.main-cta.secondary {
  background-color: #000000;
  color: var(--neutral-clr-white);
}

.main-cta.in-prod {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition:
    transform 0.5s cubic-bezier(0.36, 0.01, 0.52, 0.97),
    opacity 0.5s cubic-bezier(0.36, 0.01, 0.52, 0.97);
}

/* Primary CTA styles */
.main-cta:hover {
  background-color: #e85068;
  box-shadow: 0 4px 8px rgba(225, 44, 72, 0.2);
}

.main-cta:active,
.main-cta:focus {
  background-color: var(--cta-main-clr);
  color: var(--neutral-clr-white);
  box-shadow: 0 2px 4px rgba(225, 44, 72, 0.3);
  transform: translateY(2px);
}

/* Secondary CTA styles */
.main-cta.secondary:hover {
  background-color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-cta.secondary:active,
.main-cta.secondary:focus {
  background-color: #1a1a1a;
  color: var(--neutral-clr-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

/* Sectio Heading - && Pretitle */
.section-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 0.75rem;
  row-gap: 0.5em;
}

.section-heading-pretitle {
  font-family: var(--font-grand-hotel);
  font-size: var(--pretitle-fs);
  line-height: var(--pretitlte-lh);
  color: var(--cta-main-clr);
  text-transform: capitalize;
}

.section-heading-title {
  font-family: var(--font-oswald);
  font-size: var(--fs-700);
  font-weight: 600;
  line-height: 61px;
  text-align: center;
  color: #05090c;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .section-heading-pretitle {
    font-size: var(--fs-600);
    line-height: 2.038rem; /* 32.6px */
  }

  .section-heading-title {
    font-size: var(--fs-650);
    font-weight: 600;
    line-height: 61px;
    text-align: center;
  }
  .section-heading-container svg {
    position: relative;
    left: 2em;
    width: 30%;
    bottom: 0.5em;
  }
}

.landing-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--prod-grid-gap);
  margin-inline: auto;
  max-width: fit-content;
}

@media screen and (max-width: 768px) {
  .landing-product-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    overflow-x: auto;
  }
}

.landing-product-grid div {
  position: relative;
  cursor: pointer;
}

.landing-product-grid div:hover .main-cta.in-prod {
  transform: translate(-50%, -200%);
  opacity: 1;
}

/* @media screen and (min-width: 1441px) {
  .landing-product-grid {
    max-width: var(--cont-max-w);
  }
} */

@media screen and (min-width: 768px) {
  .landing-product-grid div {
    min-height: 27.25rem;
    max-width: 21.188rem;
    border-radius: var(--prod-rad);
    overflow: hidden;
  }
}
@media screen and (min-width: 1441px) {
  .landing-product-grid div {
    min-height: 27.25rem;
    max-width: 21.188rem;
    border-radius: var(--prod-rad);
    overflow: hidden;
    justify-self: center;
  }
}

.landing-product-grid div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 1px -78px 51px -16px rgba(0, 0, 0, 0.39);
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .landing-product-grid div::after {
    content: none;
  }
}

.landing-product-grid div img {
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.26, 0, 0.38, 1);
  transition-delay: 0.1s;
}

.landing-product-grid div:hover img {
  transform: scale(1.15);
}

.landing-product-grid .product-title {
  position: absolute;
  color: var(--neutral-clr-white);
  font-family: var(--font-oswald);
  font-size: var(--fs-600);
  line-height: 2.223rem;
  left: 10%;
  bottom: 10%;
  z-index: 1;
}

/* SWIPER - Mobile res */
@media screen and (max-width: 768px) {
  [data-slice-type="products_grid"] {
    padding-inline: 0;
  }
  .landing-product-grid.mobile-swiper {
    margin-block: var(--mobile-margin-block);
  }
  div.swiper-wrapper {
    margin-inline: 1.5em;
  }
  .product-card {
    height: var(--slide-height);
    border-radius: var(--slide-border-radius);
    overflow: hidden;
  }
}

/* CONTENT WITH IMAGE */
.content-with-image-layout {
  margin-block: var(--mobile-margin-block);
  display: grid;
  row-gap: 1.5em;
  justify-content: center;
  grid-template-columns: 1fr;
  max-width: var(--max-width-v2);
  margin-inline: auto;
}
.content-with-image-layout.imgrightvar {
  margin-block: var(--mobile-margin-block);
  display: grid;
  row-gap: 0;
  justify-content: center;
  grid-template-columns: 1fr;
  max-width: none;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .content-with-image-layout {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;
    margin-block: var(--section-margin-block);
  }
  .content-with-image-layout.imgrightvar {
    grid-template-columns: 1.25fr 1fr;
    column-gap: 0;
    margin-bottom: 0;
  }
}

.content-with-image-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 0.75em;
  padding-inline: var(--mobile-padding-inline);
}
.content-with-image-text.imgrightvar {
  background-color: #d61c1c;
  padding-block: 2.75em;
}

.content-with-image-tick-field {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
}
.content-with-image-tick-field p {
  font-size: var(--fs-400);
}

.content-with-image-image {
  position: relative;
  padding-inline: var(--mobile-padding-inline);
}
.content-with-image-image.imgrightvar {
  position: relative;
  padding-inline: 0;
}

@media screen and (min-width: 768px) {
  .content-with-image-text {
    order: 1;
    margin-top: auto;
  }
  .content-with-image-image {
    order: 0;
  }
  .content-with-image-text.imgrightvar {
    order: 0;
    height: 100%;
    /* padding-left: 129px; */
    justify-content: center;
  }
  .content-with-image-image.imgrightvar {
    order: 1;
    height: 100%;
  }
}

.deco-img-over-img {
  position: absolute;
  left: -4%;
  width: 3.25rem;
  height: auto;
  bottom: 10%;
}

@media screen and (min-width: 768px) {
  .content-with-image-main-img {
    margin-left: auto;
  }
  .content-with-image-image.imgrightvar .content-with-image-main-img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
}

.content-with-image-text h1 {
  font-family: var(--font-grand-hotel);
  font-size: var(--fs-600);
  font-weight: 400;
  color: var(--accent-clr);
}
.content-with-image-text h2 {
  font-family: var(--font-oswald);
  color: var(--text-clr);
  font-size: var(--fs-650);
  font-weight: 600;
  line-height: 47.42px;
}
.content-with-image-text p {
  font-size: var(--fs-500);
  color: var(--text-clr);
  line-height: 22.63px;
}
.content-with-image-text.imgrightvar h1,
.content-with-image-text.imgrightvar h2,
.content-with-image-text.imgrightvar p {
  color: var(--neutral-clr-white);
}

@media screen and (min-width: 768px) {
  .content-with-image-text h1 {
    font-size: var(--fs-650);
  }
  .content-with-image-text h2 {
    font-size: var(--fs-700);
    font-weight: 600;
    line-height: 61px;
    max-width: 18ch;
  }
  .content-with-image-text p {
    font-size: var(--fs-500);
    color: var(--text-clr);
    line-height: 22.63px;
    max-width: 58ch;
  }
}

/* -------------------- */
/* FOOTER */
footer.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  font-size: var(--fs-400);
  padding-inline: var(--mobile-padding-inline);
  padding-top: var(--mobile-margin-block);
}

footer {
  display: grid;
  row-gap: 2.5em;
}

footer .footer-corporate-section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.footer-corporate-section .corporate-section-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-corporate-section .corporate-section-images img:first-child {
  width: 115px;
  height: auto;
}
.footer-corporate-section .corporate-section-images img:last-child {
  width: 92px;
  height: auto;
}
.footer-corporate-section .corporate-section-images p {
  max-width: 36ch;
}

footer .header-nav.mobile-nav {
  display: none;
}

footer .header-navlist {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  text-transform: capitalize;
  font-size: var(--fs-500);
}

.footer-contact-data {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.footer-contact-data h3 {
  color: var(--footer-accent-color);
  text-transform: uppercase;
  font-weight: 400;
}
.footer-contact-data p:first-child {
  /* font-style: italic; */
  max-width: 30ch;
}

.footer-email-link {
  color: var(--link-color);
}

footer .subfooter-layout {
  position: relative;
  display: grid;
  background-color: var(--neutral-clr-black);
  justify-content: center;
  row-gap: 2em;
  align-items: center;
  padding-block: var(--mobile-margin-block);
  margin-inline: -1.5em;
}

footer .subfooter-layout div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}
footer .subfooter-layout p {
  display: flex;
  justify-content: center;
}
