:root {
  --max-width: 1200px;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 3rem;
  --accent-clr: #e12c48;
  --neutral-clr-white: #ffffff;
  --neutral-clr-black: #000000;
  --text-clr: #05090c;
  --section-gap: 5.063rem;

  /* Mobile header height*/
  --mobile-header-height: 71.1719px;

  /* CTA */
  --cta-padding: 10px;
  --cta-radius: 2.375rem;
  --cta-main-clr: var(--accent-clr);
  --cta-main-text-clr: var(--neutral-white-clr);
  --cta-main-fs: var(--fs-400);
  --cta-main-text-transform: uppercase;
  --cta-main-lh: 20.11px;

  /* Content */
  --cont-max-w: 87.5rem;

  /* Pretitle */
  --pretitle-fs: 2rem;
  --pretitlte-lh: 5px;

  /* Product-grid */
  --prod-grid-gap: 2em;
  --prod-grid-height: 27.25rem;
  --prod-rad: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-src-sans), sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--neutral-clr-white);
  color: var(--neutral-clr-black);
  font-family: var(--font-src-sans), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    background-color: #fff;
    color: #010101;
  }
}

/* Fallback for browsers that don't support prefers-color-scheme */
@media not all and (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    background-color: #fff;
    color: #010101;
  }
}

/* UTILS */
/* Apply fonts directly using the Next.js variables */

.heading-font {
  font-family: var(--font-oswald), sans-serif;
}

.pre-heading-font {
  font-family: var(--font-grand-hotel), cursive;
}

.container-x {
  padding-inline: 1em;
}
/*  */

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.625rem;
  max-width: var(--cont-max-w);
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  header {
    height: var(--mobile-header-height);
  }
}

header .header-logo {
  width: 6.25rem;
  height: auto;
  order: 0;
}

header .header-nav {
  display: flex;
}

header .header-navlist {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

header .header-navlist li {
  text-transform: capitalize;
  transition: color 0.3s cubic-bezier(0.075, 0, 0.165, 1);
}

header .header-navlist li:hover,
header .header-navlist li:active,
header .header-navlist li:focus {
  color: var(--accent-clr);
}

/* Header responsive */
.mobile-menu-wrapper {
  all: unset;

  display: inline-block;
  box-sizing: border-box;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  max-width: 100%;
  outline: none;
}

/* Remove default focus styles in Firefox */
.mobile-menu-wrapper::-moz-focus-inner {
  border: 0;
}

/* Optional: Add your own focus styles */
.mobile-menu-wrapper:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.icon-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.active {
  opacity: 1;
  transform: scale(1);
}

.inactive {
  opacity: 0;
  transform: scale(0.8);
}

@media screen and (max-width: 768px) {
  header .main-cta {
    display: none;
  }

  header .header-logo {
    order: 1;
  }

  header .header-navlist {
    flex-direction: column;
    row-gap: 2rem;
    padding: 0 0 2em 2em;
    font-size: var(--fs-500);
    text-decoration: underline;
  }

  header .desktop-nav {
    display: none;
  }
}

/* ---------------------------------- */

/* CTA */
.main-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--cta-padding);
  background-color: var(--accent-clr);
  color: var(--neutral-clr-white);
  text-decoration: none;
  border-radius: var(--cta-radius);
  font-size: var(--cta-main-fs);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  text-transform: var(--cta-main-text-transform);
  outline: none;
  max-height: 47px;
}

.main-cta.in-prod {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition:
    transform 0.5s cubic-bezier(0.36, 0.01, 0.52, 0.97),
    opacity 0.5s cubic-bezier(0.36, 0.01, 0.52, 0.97);
}

.main-cta:hover {
  background-color: #e85068;
  box-shadow: 0 4px 8px rgba(225, 44, 72, 0.2);
}

.main-cta:active,
.main-cta:focus {
  background-color: var(--cta-main-clr);
  color: var(--neutral-clr-white);
  box-shadow: 0 2px 4px rgba(225, 44, 72, 0.3);
  transform: translateY(2px);
}

/* Sectio Heading - && Pretitle */
.section-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 0.75rem;
  row-gap: 0.5em;
}

.section-heading-pretitle {
  font-family: var(--font-grand-hotel);
  font-size: var(--pretitle-fs);
  line-height: var(--pretitlte-lh);
  color: var(--cta-main-clr);
  text-transform: capitalize;
}

.section-heading-title {
  font-family: var(--font-oswald);
  font-size: var(--fs-700);
  font-weight: 600;
  line-height: 61px;
  text-align: center;
  color: #05090c;
  text-transform: capitalize;
}

.landing-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--prod-grid-gap);
  margin-inline: auto;
  max-width: fit-content;
}

.landing-product-grid div {
  position: relative;
  cursor: pointer;
}

.landing-product-grid div:hover .main-cta.in-prod {
  transform: translate(-50%, -200%);
  opacity: 1;
}

/* @media screen and (min-width: 1441px) {
  .landing-product-grid {
    max-width: var(--cont-max-w);
  }
} */

@media screen and (min-width: 768px) {
  .landing-product-grid div {
    min-height: 27.25rem;
    max-width: 21.188rem;
    border-radius: var(--prod-rad);
    overflow: hidden;
  }
}
@media screen and (min-width: 1441px) {
  .landing-product-grid div {
    min-height: 27.25rem;
    max-width: 21.188rem;
    border-radius: var(--prod-rad);
    overflow: hidden;
    justify-self: center;
  }
}

.landing-product-grid div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 1px -78px 51px -16px rgba(0, 0, 0, 0.39);
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(51, 51, 51, 0.7) 70%
  ); */
  pointer-events: none;
}

.landing-product-grid div img {
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.26, 0, 0.38, 1);
  transition-delay: 0.1s;
}

.landing-product-grid div:hover img {
  transform: scale(1.15);
}

.landing-product-grid .product-title {
  position: absolute;
  color: var(--neutral-clr-white);
  font-family: var(--font-oswald);
  font-size: var(--fs-600);
  line-height: 2.223rem;
  left: 10%;
  bottom: 10%;
  z-index: 1;
}

/* Mobile menu wall */
@media screen and (max-width: 768px) {
  .mobile-menu-wall {
    background-color: #ffffff;
    position: absolute;
    width: 80%;
    right: 0;
    top: var(--mobile-header-height);
    left: 0;
    bottom: 0;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.34, 0, 0.06, 1);
  }

  .mobile-menu-wall.active {
    transform: translateX(0);
  }
}
