:root {
  /* Primary Colors */
  /* C.lass-P.lace/T.hing-V.ariant */
  --color-primary: #e12c48;
  --color-primary-dark: #d61c1c; /* For the red background section */
  --color-primary-light: #f9f9f9;
  /* Accent Colors */
  --color-accent: #ff2221;
  --color-accent-dark: #e2211b;

  /* Neutral Colors */
  --color-background: #ffffff;
  --color-background-yellow: #fff5dc;
  --color-text-dark-light: #0d0d0d;
  --color-text: #05090c;
  --color-text-gray-drak: #606060;
  --color-text-gray: #737373;
  --color-text-light: #ffffff;

  --color-neutral-dark: #2d2d2d; /* Footer background color */
  /* Border colors */
  --color-border-medium: #7a7a7a;
  --color-border-light: #c3c3c3;
  --color-border-gray-light: #e0e0e0;
  --color-border-x-light: #dadada;
  --color-black: #000000;

  /* Functional Colors */
  --color-cta: var(--color-primary);
  --color-cta-text: var(--color-text-light);
  --color-footer-accent: var(--color-accent);
  --color-footer-background: var(--color-neutral-dark);
  --color-header-border: var(--color-border-light);
  --color-dropdown-border: var(--color-border-medium);
  --color-product-card-border: var(--color-border-x-light);
  --color-secondary-background: var(--color-background-yellow);
  /* 2. Typography */
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */

  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-2_5xl: 1.75rem; /* 28px */
  --font-size-3xl: 2rem; /* 32px */
  --font-size-4xl: 3rem; /* 48px */
  --font-size-5xl: 4rem; /* 64px */

  --line-height-hero-title: 47.42px;

  --line-height-tight: 1.2; /* For tight spacing */
  --line-height-normal: 1.36; /* For standard spacing */
  --line-height-base: 1.5; /* For more relaxed spacing */
  --line-height-loose: 2.5; /* For very loose spacing */

  /* Section Heading Line Height */
  --line-height-eyebrow-text: var(--line-height-tight);
  --line-height-main-heading: var(--line-height-base);

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-bold: 700;

  /* Functional Typography */
  --font-size-nav: var(--font-size-lg);
  --font-size-hero-heading: var(--font-size-3xl);
  --font-size-hero-description: var(--font-size-lg);
  --font-size-cta: var(--font-size-base);

  --font-size-eyebrow-text: var(--font-size-2xl);
  --font-size-main-heading: var(--font-size-3xl);

  --font-size-body-text: var(--font-size-lg);
  --font-size-footer-heading: var(--font-size-lg);
  --font-size-footer: var(--font-size-base);

  --font-size-choose-category: var(--font-size-lg);
  --font-weight-choose-category: var(--font-weight-bold);
  /* 3. Spacing */
  --spacing-unit: 0.25rem; /* 4px assuming a base font size of 16px */
  --spacing-xs: calc(var(--spacing-unit) * 1); /* 0.25rem - 4px */
  --spacing-sm: calc(var(--spacing-unit) * 2); /* 0.5rem  - 8px */
  --spacing-md: calc(var(--spacing-unit) * 4); /* 1rem    - 16px */
  --spacing-lg: calc(var(--spacing-unit) * 6); /* 1.5rem  - 24px */
  --spacing-xl: calc(var(--spacing-unit) * 8); /* 2rem    - 32px */
  --spacing-2xl: calc(var(--spacing-unit) * 10); /* 2.5rem   - 48px */
  --spacing-3xl: calc(var(--spacing-unit) * 12); /* 3rem   - 48px */
  --spacing-4xl: calc(var(--spacing-unit) * 16); /* 4rem   - 64px */

  --spacing-padding-x-sm: 0.5em;
  --spacing-padding-sm: 0.75em;
  --spacing-padding-base: 1em;
  --spacing-padding-x-base: 1.25em;
  --spacing-padding-md: 1.5em;
  --spacing-padding-lg: 2em;
  --spacing-padding-xl: 2.5em;

  --spacing-circle-image: 100vw;

  --spacing-max-width-base: 75rem;
  --spacing-max-width-lg: 85rem;

  --hero-row-items-gap: var(--spacing-lg);
  --hero-height: 80vh;

  /* Functional Spacing */
  --heading-padding-y: 0.625rem;
  --header-mobile-height: 4.448rem;

  --logo-width: 6.25rem;

  --nav-item-gap: var(--spacing-xl);
  /* spacing - Max Width */
  --container-max-width-base: var(--spacing-max-width-base);
  --container-max-width-lg: var(--spacing-max-width-lg);

  --mobile-menu-padding-y: 2.5rem;
  --mobile-menu-padding-x: 2.25rem;

  --cta-padding-x: 1.75em;
  --cta-padding-y: 1em;
  /* Common use cases */
  --spacing-section-y: var(--spacing-2xl); /* Vertical spacing for sections */
  --spacing-section-y--us: var(
    --spacing-4xl
  ); /* Vertical spacing for sections */
  --spacing-text-y: var(--spacing-xs); /* Vertical spacing in text blocks */

  --about-us-section-y: var(--spacing-2xl);

  /* Border Radius */
  --border-radius-md: 0.688rem;
  --border-raiuds-base: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-dropdown: var(--border-radius-md);
  --border-radius-product-card: var(--border-radius-lg);

  --value-card-border-radius: var(--border-raiuds-base);

  /* Transition */
  --transition-duration-fast: 150ms;
  --transition-duration-medium: 300ms;
  --transition-duration-slow: 500ms;

  /* Transition Timing Functions */
  --transition-timing-ease-out: ease-out;
  --transition-timing-ease-in-out: ease-in-out;
  --transition--timing-cubic-bezier-base: cubic-bezier(0.22, 0, 0.26, 1);

  --transition-color: color var(--transition-duration-fast)
    var(--transition--timing-cubic-bezier-base);
  --nav-item-transition: var(--transition-color);

  /* Z-Index */
  --mobile-menu-z-index: 999;

  /* Shadows */
  --shadow-nav-cta-container: 0px -1px 42.8px 0px #0000001a;

  --shadow-base: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.03);
  --shadow-base-transition: 0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.05);

  --max-width-v2: 1350px;

  --section-gap: 5.063rem;
  --section-margin-block: 6.5rem;
  --mobile-padding-inline: 1.5em;
  --desktop-padding-inline: 1em;

  /* SECTION */
  --section-width: 100%;
  /* Swiper */
  --slide-height: 18.063rem;
  --slide-border-radius: 1.125rem;
  /* 289px */
  /* Mobile header height && Header*/
  --mobile-header-height: 71.1719px;
  /* CTA Variables */
  --cta-padding: 1em 1.75em;
  --cta-border-radius: 2.375rem;
  --cta-font-size: var(--font-size-base);
  --cta-font-weight: bold;
  --cta-text-transform: uppercase;
  --cta-transition: all --transition-duration-medium
    var(--transition--timing-cubic-bezier-base);
  --cta-max-height: 47px;

  /* Primary CTA Colors */
  --cta-primary-bg: var(--accent-clr);
  --cta-primary-color: var(--neutral-clr-white);
  --cta-primary-hover-bg: #e85068;
  --cta-primary-active-bg: var(--accent-clr);

  /* Secondary CTA Colors */
  --cta-secondary-bg: var(--neutral-clr-black);
  --cta-secondary-color: var(--neutral-clr-white);
  --cta-secondary-hover-bg: #333333;
  --cta-secondary-active-bg: #1a1a1a;

  /* CTA Shadow */
  --cta-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --cta-active-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) /* Content */ --cont-max-w:
    87.5rem;

  /* Pretitle */
  --pretitle-fs: 2rem;
  --pretitlte-lh: 5px;

  /* Product-grid */
  --prod-grid-gap: 2.5em;
  --prod-grid-height: 27.25rem;
  --prod-rad: 1.25rem;

  /* Content with image */
  --mobile-margin-block: 2rem;

  /* Footer */
  --link-color: #5bc0eb;

  /* Mobile Specs */
  --m-product-category-fs: 1rem;
}

@media (min-width: 50em) {
  :root {
    --font-size-hero-heading: var(--font-size-5xl);
    --font-size-hero-description: var(--font-size-xl);

    --font-size-eyebrow-text: var(--font-size-3xl);
    --font-size-main-heading: var(--font-size-4xl);

    /* Spacing */
    --nav-item-gap: var(--spacing-lg);
    --heading-padding-y: var(--spacing-md);

    --hero-row-items-gap: var(--spacing-2xl);
    --hero-height: 60vh;

    --about-us-section-y: var(--spacing-section-y--us);

    /* Line Height */
    /* --line-height-eyebrow-text: var(--line-height-); */
    --line-height-main-heading: var(--line-height-normal);

    /* Quality page */
    --font-size-hero-title: var(--font-size-4xl);
    --line-height-hero-title: 47.42px;
  }
}

/* 75rem */

/* // https://piccalil.li/blog/a-modern-css-reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-src-sans), sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--neutral-clr-white);
  color: var(--neutral-clr-black);
  font-family: var(--font-src-sans), sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    background-color: #fff;
    color: #010101;
  }
}

/* Fallback for browsers that don't support prefers-color-scheme */
@media not all and (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}

/* Utility classes */
/* Apply fonts directly using the Next.js variables */
.no-scroll {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}
@media (max-width: 50em) {
  .only-desktop {
    display: none;
  }
}

.heading-font {
  font-family: var(--font-oswald), sans-serif;
}

.eyebrow-text-font {
  font-family: var(--font-grand-hotel), cursive;
}

.section-width {
  width: var(--section-width);
}

.container {
  max-width: var(--container-max-width-base);
  margin-inline: auto;
  padding-inline: var(--mobile-padding-inline);
}
.container--lg {
  max-width: var(--container-max-width-lg);
  margin-inline: auto;
  padding-inline: var(--mobile-padding-inline);
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.bold {
  font-weight: var(--font-weight-600);
}

/* HEADER */
header {
  padding-block: var(--heading-padding-y);
  border-bottom: 1px solid var(--color-header-border);
}
@media screen and (max-width: 50em) {
  header {
    height: var(--header-mobile-height);
  }
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: var(--logo-width);
  height: auto;
  /* margin-right: auto; */
}

.navbar__list {
  display: flex;
  gap: var(--nav-item-gap);
  align-items: center;
}

.navbar__item {
  text-transform: capitalize;
  font-size: var(--font-size-nav);
  transition: var(--nav-item-transition);
}
.navbar__item:first-child {
  position: relative;
}

.navbar__item:hover,
.navbar__item:focus-within,
.navbar__item:active {
  color: var(--color-primary);
}

/* Manage /products */
.navbar__link[href="/productos"] {
  pointer-events: none;
}
@media (max-width: 50em) {
  .navbar__link[href="/productos"] {
    pointer-events: auto;
  }
}

/* Header responsive */
/* Desktop - Button wrapping svg */
.navbar__toggle-menu-button {
  display: none;
}

@media (max-width: 50em) {
  .navbar__menu-container {
    position: absolute;
    inset: var(--mobile-header-height) 0 0 0;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: var(--mobile-menu-z-index);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition:
      opacity var(--transition-duration-medium)
        var(--transition--timing-cubic-bezier-base),
      transform var(--transition-duration-medium)
        var(--transition--timing-cubic-bezier-base),
      visibility var(--transition-duration-medium)
        var(--transition--timing-cubic-bezier-base);
  }

  .navbar__menu-container--open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    border-top: 1px solid var(--color-header-border);
  }

  .navbar__list {
    flex-grow: 1;
    display: flex;
    padding: var(--mobile-menu-padding-y) var(--mobile-menu-padding-x);
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    padding: var(--spacing-md) var(--spacing-xl);
    box-shadow: var(--shadow-nav-cta-container);
  }

  .navbar .navbar__cta {
    margin-top: auto;
    align-self: stretch;
    width: 100%;
  }

  .navbar__item {
    width: 100%;
    display: inline-block;
  }

  .mobile-menu-wrapper,
  .navbar .navbar__toggle-menu-button {
    display: block;
  }

  .icon-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition:
      opacity var(--transition-duration-medium)
        var(--transition-timing-ease-in-out),
      transform var(--transition-duration-medium)
        var(--transition-timing-ease-in-out);
  }

  .icon.active {
    opacity: 1;
    transform: rotate(0deg);
  }

  .icon.inactive {
    opacity: 0;
    transform: rotate(90deg);
  }

  /* Mobile menu dropdown */
  .m-product-category-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-base);
    transform: translateY(-20px);
    pointer-events: none;
    max-height: 0;
    margin-top: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition:
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 0ms linear 300ms,
      max-height 300ms cubic-bezier(0.4, 0, 0.2, 1),
      margin 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .m-product-category-list--open {
    margin-top: var(--spacing-lg);
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    max-height: 1000px; /* Adjust based on your content */
    transition:
      opacity 400ms cubic-bezier(0.4, 0, 0.2, 1) 50ms,
      transform 400ms cubic-bezier(0.4, 0, 0.2, 1) 50ms,
      visibility 0ms linear,
      max-height 400ms cubic-bezier(0.4, 0, 0.2, 1) 50ms,
      margin 400ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  }

  .m-product-category-list__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-dark-light);
    border-top: 1px solid var(--color-header-border);
    /* box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.75); */
    padding-block: 0.75em;
  }
  .m-product-category-list__title {
    margin-left: 1em;
  }
  .m-product-category-list__image {
    border-radius: var(--spacing-circle-image);
    width: 4rem;
    height: auto;
    /* aspect-ratio: 1; */
  }

  .chevron-wrapper {
    position: absolute;
    right: 0;
  }

  .chevron {
    flex-shrink: 0;
    transition: transform var(--transition-duration-medium)
      var(--transition--timing-cubic-bezier-base);
  }

  .chevron.chevron--rotate {
    transform: rotate(90deg);
  }
}

/* Sorta utils */
.mobile-menu-wrapper {
  all: unset;

  display: inline-block;
  box-sizing: border-box;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  max-width: 100%;
  outline: none;
  display: none;
}
/* Remove default focus styles in Firefox */
.mobile-menu-wrapper::-moz-focus-inner {
  border: 0;
}

/* Optional: Add your own focus styles */
.mobile-menu-wrapper:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}

/* CTA */
.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--cta-padding);
  border-radius: var(--cta-border-radius);
  font-size: var(--cta-font-size);
  font-weight: var(--cta-font-weight);
  text-align: center;
  text-decoration: none;
  text-transform: var(--cta-text-transform);
  transition: var(--cta-transition);
  outline: none;
  max-height: var(--cta-max-height);
  width: fit-content;
}

.cta--primary {
  background-color: var(--color-cta);
  color: var(--color-cta-text);
}

/* .cta--primary:hover {
  background-color: var(--cta-primary-hover-bg);
  box-shadow: var(--cta-shadow);
}

.cta--primary:active,
.cta--primary:focus {
  background-color: var(--cta-primary-active-bg);
  box-shadow: var(--cta-active-shadow);
  transform: translateY(2px);
} */

.cta--secondary {
  background-color: var(--color-black);
  color: var(--cta-secondary-color);
}

.cta--secondary:hover {
  background-color: var(--cta-secondary-hover-bg);
  box-shadow: var(--cta-shadow);
}

.cta--secondary:active,
.cta--secondary:focus {
  background-color: var(--cta-secondary-active-bg);
  box-shadow: var(--cta-active-shadow);
  transform: translateY(2px);
}

.cta--in-prod {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition:
    transform 0.5s cubic-bezier(0.36, 0.01, 0.52, 0.97),
    opacity 0.5s cubic-bezier(0.36, 0.01, 0.52, 0.97);
}

/* HERO  */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--hero-row-items-gap);
  width: 100%;
  height: var(--hero-height);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 80vh;
  background-image: var(--bg-image);
  /* background-image: url("https://images.unsplash.com/photo-1485575301924-6891ef935dcd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
}

.hero.hero--only-heading {
  min-height: 45vh;
  max-height: 45vh;
}

@media screen and (max-width: 50em) {
  .hero.hero--only-heading {
    min-height: 60vh;
    max-height: 60vh;
  }
}

/* .hero > div {
  min-height: 100%;
} */

.hero__conttent-container--default {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: var(--color-text-light);
  z-index: 2;
  width: 100%;
}

.hero--is-var {
  text-align: left;
}
.hero--default::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.hero--default {
  background-position: 50% !important;
}

.hero__main-heading {
  position: relative;
  font-family: var(--font-oswald);
  font-size: var(--font-size-hero-heading); /* 64 px */

  font-weight: 600;
  line-height: 80px;
  color: var(--color-text-light);
  text-transform: capitalize;
  z-index: 2;
}

.hero__desc {
  position: relative;
  font-size: var(--font-size-hero-description);
  font-weight: 400;
  line-height: 25.14px;
  max-width: 55ch;
  color: var(--color-text-light);
  z-index: 2;
  margin-inline: auto;
  text-align: center;
}

/* Hero variation */
.hero__desc-container-bg {
  position: relative;
  padding: var(--spacing-padding-base) var(--spacing-padding-md);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.41) 50.19%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: translateY(1rem);
}

.hero__main-heading--is-var {
  margin-bottom: var(--spacing-sm);
  line-height: 80px;
  text-transform: capitalize;
}
.hero__desc--is-var {
  color: var(--color-text-light);
  line-height: 25.14px;
  margin-inline: unset;
  text-align: left;
}

.hero__cta {
  position: relative;
  z-index: 2;
}

/* Hero Responsive */
@media screen and (max-width: 50em) {
  .hero__desc-container-bg {
    padding-inline: var(--spacing-padding-base);
    padding-top: var(--spacing-padding-xl);
    padding-bottom: var(--spacing-padding-xl);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.41) 50.19%,
      rgba(0, 0, 0, 0) 100%
    );
    text-align: center;
  }

  .hero__main-heading {
    line-height: 2.964rem;
    text-transform: uppercase;
  }
  .hero__main-heading--default {
    line-height: 47.42px;
    text-align: center;
    margin-bottom: var(--spacing-padding-base);
  }
  .hero__main-heading--is-var {
    line-height: 2.964rem;
    text-transform: uppercase;
  }
  .hero__desc {
    line-height: 1.414rem;
    max-width: 30ch;
  }
  .hero__desc--is-var {
    max-width: 33ch;
  }
}

/* SECTION HEADING */
.heading-section {
  text-align: center;
}
.heading-section__eyebrow-text {
  font-family: var(--font-grand-hotel);
  font-size: var(--font-size-eyebrow-text);
  font-weight: 400;
  color: var(--color-primary);
  line-height: var(--line-height-eyebrow-text);
}
.heading-section__main-heading {
  font-family: var(--font-oswald);
  font-size: var(--font-size-main-heading);
  font-weight: var(--font-weight-600);
  color: var(--color-text);
  line-height: var(--line-height-main-heading);
  text-transform: capitalize;
}
.heading-section svg {
  position: relative;
  left: 2rem;
  bottom: 0.25rem;
}

@media screen and (max-width: 50em) {
  .heading-section svg {
    position: relative;
    width: 25%;
    left: 2rem;
    bottom: 0.65rem;
  }
}

/* PRODUCT-GRID */
.product-grid {
  margin-top: var(--spacing-section-y);
  margin-bottom: calc(var(--spacing-section-y) * 2);
}

.landing-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--prod-grid-gap);
  margin-inline: auto;
  max-width: fit-content;
}

@media screen and (max-width: 768px) {
  .landing-product-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    overflow-x: auto;
  }
}

.landing-product-grid div {
  position: relative;
  cursor: pointer;
}

.landing-product-grid div:hover .cta.in-prod {
  transform: translate(-50%, -200%);
  opacity: 1;
}

/* @media screen and (min-width: 1441px) {
  .landing-product-grid {
    max-width: var(--cont-max-w);
  }
} */

@media screen and (min-width: 768px) {
  .landing-product-grid div {
    min-height: 27.25rem;
    max-width: 21.188rem;
    border-radius: var(--prod-rad);
    overflow: hidden;
  }
}
@media screen and (min-width: 1441px) {
  .landing-product-grid div {
    min-height: 27.25rem;
    max-width: 21.188rem;
    border-radius: var(--prod-rad);
    overflow: hidden;
    justify-self: center;
  }
}

.landing-product-grid div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 1px -78px 51px -16px rgba(0, 0, 0, 0.39);
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .landing-product-grid div::after {
    content: none;
  }
}

.landing-product-grid div img {
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.26, 0, 0.38, 1);
  transition-delay: 0.1s;
}

.landing-product-grid div:hover img {
  transform: scale(1.15);
}

.landing-product-grid .product-title {
  position: absolute;
  color: var(--color-text-light);
  font-family: var(--font-oswald);
  font-size: var(--font-size-2xl);
  line-height: 2.223rem;
  left: 10%;
  bottom: 10%;
  z-index: 1;
}

/* SWIPER - Mobile res */
@media screen and (max-width: 768px) {
  [data-slice-type="products_grid"] {
    padding-inline: 0;
  }
  .landing-product-grid.mobile-swiper {
    margin-block: var(--mobile-margin-block);
  }
  div.swiper-wrapper {
    margin-inline: 1.5em;
  }
  .product-card {
    height: var(--slide-height);
    border-radius: var(--slide-border-radius);
    overflow: hidden;
    opacity: 0.5;
    transition: opacity var(--transition-duration-medium)
      var(--transition-timing-ease-in-out);
  }

  .swiper-slide-active .product-card {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.content-with-image.imgrightvar {
  background-color: #d61c1c;
}

/* CONTENT WITH IMAGE */
.content-with-image-layout {
  margin-block: var(--mobile-margin-block);
  display: grid;
  row-gap: 1.5em;
  justify-content: center;
  grid-template-columns: 1fr;
  max-width: var(--max-width-v2);
  margin-inline: auto;
  margin-top: 0;
}
.content-with-image-layout.imgrightvar {
  margin-block: var(--mobile-margin-block);
  display: grid;
  row-gap: 0;
  justify-content: center;
  grid-template-columns: 1fr;
  max-width: none;
  margin-bottom: 0;
  max-width: var(--spacing-max-width-lg);
}

@media screen and (min-width: 768px) {
  .content-with-image-layout {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;
    margin-block: var(--section-margin-block);
  }
  .content-with-image-layout.imgrightvar {
    grid-template-columns: 1.25fr 1fr;
    column-gap: 0;
    margin-bottom: 0;
  }
}

.content-with-image-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 0.75em;
  padding-inline: var(--mobile-padding-inline);
}
.content-with-image-text.imgrightvar {
  padding-block: 2.75em;
  color: var(--color-text-light);
}

.content-with-image-tick-field {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
}
.content-with-image-tick-field p {
  font-size: var(--font-size-base);
}

.content-with-image-image {
  position: relative;
  padding-inline: var(--mobile-padding-inline);
}
.content-with-image-image.imgrightvar {
  position: relative;
  padding-inline: 0;
}

.main-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-with-image-main-img {
  width: 100%;
  height: auto;
  display: block;
}

.deco-img-over-img {
  position: absolute;
  left: -5%;
  width: 2.75rem;
  height: auto;
  bottom: 10%;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .content-with-image-text {
    order: 1;
    margin-top: auto;
  }
  .content-with-image-image {
    order: 0;
  }
  .content-with-image-text.imgrightvar {
    order: 0;
    height: 100%;
    /* padding-left: 129px; */
    justify-content: center;
  }
  .content-with-image-image.imgrightvar {
    order: 1;
    height: 100%;
  }
  .deco-img-over-img {
    position: absolute;
    left: -5%;
    width: 3.75rem;
    height: auto;
    bottom: 10%;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .content-with-image-main-img {
    margin-left: auto;
  }
  .content-with-image-image.imgrightvar .content-with-image-main-img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
}

.content-with-image-text h1 {
  font-family: var(--font-grand-hotel);
  font-size: var(--font-size-eyebrow-text);
  font-weight: 400;
  color: var(--color-primary);
  line-height: var(--line-height-eyebrow-text);
}
.content-with-image-text h2 {
  font-family: var(--font-oswald);
  color: var(--text-clr);
  font-size: var(--font-size-main-heading);
  font-weight: 600;
  line-height: var(--line-height-main-heading);
}
.content-with-image-text p {
  font-size: var(--fs-500);
  color: var(--text-clr);
  line-height: 22.63px;
}
.content-with-image-text.imgrightvar h1,
.content-with-image-text.imgrightvar h2,
.content-with-image-text.imgrightvar p {
  color: var(--neutral-clr-white);
}

@media screen and (min-width: 768px) {
  .content-with-image-text h2 {
    max-width: 18ch;
  }
  .content-with-image-text p {
    font-size: var(--fs-lg);
    color: var(--color-text);
    line-height: 22.63px;
    max-width: 58ch;
  }
}

/* -------------------- */
/* FOOTER */
footer.footer {
  background-color: var(--color-footer-background);
  color: var(--color-text-light);
  font-size: var(--fs-400);
}

/* footer ul li a {
  font: inherit;
  text-decoration: none;
  color: inherit;
} */

footer .footer-content {
  display: grid;
  row-gap: 2.5em;
  max-width: var(--max-width-v2);
  margin-inline: auto;
  padding-inline: 1.5em;
  padding-bottom: 2.5em;
  padding-top: var(--mobile-margin-block);
}

@media screen and (min-width: 768px) {
  footer .footer-content {
    display: grid;
    row-gap: 2.5em;
    max-width: var(--max-width-v2);
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

footer .footer-corporate-section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.footer-corporate-section .corporate-section-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer-corporate-section .corporate-section-images {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 3em;
  }
}
.footer-corporate-section .corporate-section-images img:first-child {
  width: 115px;
  height: auto;
}
.footer-corporate-section .corporate-section-images img:last-child {
  width: 92px;
  height: auto;
}
.footer-corporate-section p {
  max-width: 36ch;
}

footer .header-nav.mobile-nav {
  display: none;
}

footer .header-navlist {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  text-transform: capitalize;
  font-size: var(--fs-500);
}

.footer-contact-data {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.footer-contact-data h3 {
  color: var(--footer-accent-color);
  text-transform: uppercase;
  font-weight: 400;
}
.footer-contact-data p:first-child {
  /* font-style: italic; */
  max-width: 30ch;
}

.footer-email-link {
  color: var(--link-color);
}

/* Subfooter */
footer .subfooter-layout {
  position: relative;
  background-color: var(--color-black);
}
footer .subfooter-layout .subfooter-content {
  position: relative;
  display: grid;
  color: var(--color-text-light);
  background-color: var(--color-black);
  justify-content: center;
  row-gap: 2em;
  align-items: center;
  padding-block: var(--mobile-margin-block);
}

footer .subfooter-layout div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}
footer .subfooter-layout p {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  footer .subfooter-layout .subfooter-content {
    max-width: var(--max-width-v2);
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  footer .subfooter-layout div {
    order: 1;
    margin-left: auto;
  }
  footer .subfooter-layout p {
    order: 0;
    margin-right: auto;
  }
}

.mobile-swiper {
  display: flex !important;
}

/* --------------------------------------------- */
/* --------------- PRODUCT PAGE ---------------- */
/* --------------------------------------------- */

.choose-category-heading {
  font-size: var(--font-size-choose-category);
  font-weight: var(--font-weight-choose-category);
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-sm);
}
.dropdown__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius-dropdown);
  text-transform: capitalize;
  color: var(--color-accent);
  transition: outline var(--transition-duration-fast) ease;
}
.dropdown__field--is-active {
  outline: 1px solid var(--color-dropdown-border);
}
.dropdown__menu {
  position: absolute;
  background-color: var(--color-background);
  left: 0;
  top: calc(100% + 0.25em);
  border-radius: var(--border-radius-dropdown);
  box-shadow: 0px 4px 15.7px 3px #0000000f;
  width: 100%;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
  transform: translateY(-10px);
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity var(--transition-duration-fast) ease,
    transform var(--transition-duration-fast)
      var(--transition--timing-cubic-bezier-base),
    visibility var(--transition-duration-fast) ease;
}
@media screen and (min-width: 50em) {
  .dropdown__field {
    display: none;
  }
  .dropdown__menu {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
}
.dropdown__menu.dropdown__menu--is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-padding-x-base);
  font-size: var(--font-size-base);
  padding: var(--spacing-padding-x-base) var(--mobile-menu-padding-x);
}
.dropdown__menu-item {
  text-transform: capitalize;
}
.dropdown__menu-item--is-selected {
  color: var(--color-accent);
}
/* PP Product Card */
@media screen and (min-width: 50em) {
  .pp-product-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--spacing-lg);
    max-width: var(--container-max-width-lg);
    /* margin-block: var(--spacing-lg); */
  }
}

.pp-product-card {
  margin-block: var(--spacing-xl);
}

.pp-product-card__image {
  position: relative;
  bottom: 1em;
}
.pp-product-card__image-wrapper {
  border: 1px solid var(--color-border-x-light);
  border-radius: var(--border-radius-product-card);
  overflow: hidden;
  padding: var(--spacing-padding-base);
  margin-block: var(--spacing-md);
}
@media screen and (min-width: 50em) {
  .pp-product-card {
    margin-block: 0;
  }
  .pp-product-card__image {
    position: relative;
    bottom: 0;
  }
  .pp-product-card__image-wrapper {
    margin-top: 0;
  }
}
.pp-product-card__info {
  padding: var(--spacing-padding-base);
  border-radius: var(--spacing-sm);
  background-color: var(--color-primary-light);
}
.pp-product-card__info-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 6px;
  line-height: 22.63px;
}
.pp-product-card__info-type {
  font-size: var(--font-size-base);
  color: var(--color-black);
  margin-bottom: var(--spacing-md);
  line-height: 20.11px;
}
.pp-product-card__sub-info-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pp-product-card__sub-info-block-label {
  margin-block: var(--spacing-sm);
  font-size: var(--font-size-base);
  color: var(--color-text-gray);
  line-height: 20.11px;
}

.pp-product-card__sub-info-block-value {
  font-size: var(--font-size-lg);
  color: var(--color-black);
  -webkit-text-stroke: 0.25px black;
  /* text-stroke: 1px black;  */
  line-height: 20.11px;
}

@media screen and (min-width: 50em) {
  .pp-layout {
    display: grid;
    grid-template-columns: 1fr 3.25fr;
    margin-bottom: var(--spacing-xl);
  }
}

/* ABOUT US PAGE */
/* CORPO SECTION/SLICE */
.corporation-data {
  margin-block: var(--spacing-section-y);
}
.corporation-data-layout {
  display: grid;
  row-gap: var(--spacing-padding-md);
}
.corporation-data__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  justify-content: space-between;
  column-gap: var(--spacing-padding-md);
}
.corporation-data__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-text);
  font-size: var(--font-size-base);
}

.corporation-data__text-title {
  font-family: var(--font-oswald), sans-serif;
  font-weight: 600;
  font-size: var(--font-size-2_5xl);
  line-height: 41.5px;
  margin-bottom: var(--spacing-padding-x-sm);
  text-align: left;
}

.corporation-data__text-title--red {
  color: var(--color-accent);
}

@media screen and (min-width: 50em) {
  .corporation-data {
    /* check */
    margin-block: var(--about-us-section-y);
  }
  .corporation-data-layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .corporation-data__images {
    column-gap: var(--spacing-2xl);
    margin-right: 7rem;
  }
  .corporation-data__images img {
    max-width: 11.875rem;
    height: auto;
  }
  .corporation-data__text-wrapper {
    font-size: var(--font-size-base);
    max-width: 58ch;
  }
  .corporation-data__text-title {
    font-size: var(--font-size-3xl);
    margin-bottom: var(--spacing-padding-x-sm);
    text-align: left;
  }
}

/* VALUES SLICE */
.values {
  width: 100%;
  background-color: var(--color-background-yellow);
  padding-block: var(--about-us-section-y);
}

.values__heading {
  font-size: var(--font-size-3xl);
  line-height: 61px;
  text-align: center;
  font-family: var(--font-oswald), sans-serif;
  font-weight: 600;
  margin-bottom: var(--spacing-padding-x-sm);
  text-transform: uppercase;
}
.values__layout {
  display: grid;
  row-gap: var(--spacing-padding-base);
}
.values__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  background-color: var(--color-background);
  border-radius: var(--value-card-border-radius);
  row-gap: var(--spacing-padding-base);
  padding: var(--spacing-padding-base) var(--spacing-padding-md);
  font-size: var(--font-size-base);
  text-align: center;
  line-height: 20.11px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.3s ease-in-out;
}

.values__card:hover {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.05);
}

.values__card-title {
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-dark);
  line-height: 22.63px;
  font-size: var(--font-size-lg);
}

@media screen and (min-width: 50em) {
  .values__heading {
    font-size: var(--font-size-4xl);
    line-height: 61px;
    text-transform: capitalize;
    margin-bottom: var(--spacing-2xl);
  }
  .values__layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacing-padding-base);
  }
}

/* FEATURES SLICE */
.features {
  width: 100%;
  margin-top: var(--about-us-section-y);
}
.features__heading {
  font-size: var(--font-size-3xl);
  font-weight: 600;
  line-height: 47.42px;
  text-align: center;
  font-family: var(--font-oswald), sans-serif;
  margin-bottom: var(--spacing-2xl);
  text-transform: capitalize;
  max-width: 17ch;
  width: 100%;
  margin-inline: auto;
}
.features__heading--accent-color {
  color: var(--color-accent-dark);
}
.features-layout {
  display: grid;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  /* row-gap: var(--spacing-padding-md); */
}
.features__image {
  border-radius: var(--border-radius-lg);
  margin-bottom: var(--spacing-xl);
}

.features__title {
  font-size: var(--font-size-2xl);
  margin-bottom: var(--spacing-md);
  color: var(--color-accent-dark);
  font-weight: var(--font-weight-bold);
  line-height: 30.17px;
}
.features__description {
  margin-bottom: var(--spacing-xl);
  line-height: 22.63px;
  font-size: var(--font-size-lg);
  color: var(--color-text);
}

@media screen and (min-width: 50em) {
  .features {
    width: 100%;
    margin-block: var(--about-us-section-y);
  }
  .features-layout {
    display: grid;
    row-gap: var(--spacing-3xl);
  }
  .features__heading {
    font-size: var(--font-size-4xl);
    line-height: 61px;
    max-width: unset;
  }
  .features__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .features__text-container {
    align-self: center;
  }
  .features__text-container--img-right {
    order: -1;
  }
  .features__description {
    max-width: 55ch;
  }
}
/* BRANDS */
.brands {
  width: 100%;
  margin-bottom: var(--spacing-section-y--us);
}
.brands__wrapper {
  border-radius: var(--border-radius-lg);
  background-color: var(--color-primary-light);
  padding: var(--spacing-padding-xl) var(--spacing-padding-base);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.3s ease-in-out;
}

.brands__wrapper:hover {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.05);
}

.brands__heading {
  font-size: var(--font-size-3xl);
  font-weight: 600;
  line-height: 47.42px;
  text-align: center;
  font-family: var(--font-oswald), sans-serif;
  margin-bottom: var(--spacing-md);
  text-transform: capitalize;
  max-width: 17ch;
  width: 100%;
  margin-inline: auto;
}
.brands__body-text {
  font-size: var(--font-size-base);
  line-height: 20.11px;
  text-align: center;
  margin-bottom: var(--spacing-padding-lg);
}
.brands__image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5em;
}
@media screen and (min-width: 50em) {
  .brands__heading {
    font-size: var(--font-size-4xl);
    line-height: 61px;
    max-width: unset;
  }
  .brands__body-text {
    max-width: 102ch;
    margin-inline: auto;
  }
  .brands__image-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    column-gap: 3.5rem;
  }
  .brands__image-container img {
    width: 122px;
    height: auto;
  }
}

/* MAPS */
.maps__layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-section-y--us);
  justify-content: center;
  align-items: center;
}

.maps__layout > div {
  align-self: center;
  justify-self: center;
}
@media screen and (min-width: 50em) {
  .maps__layout {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: var(--spacing-lg);
    justify-content: center;
    align-items: center;
  }
}
.maps__heading {
  font-size: var(--font-size-3xl);
  font-weight: 600;
  line-height: 47.42px;
  text-align: center;
  font-family: var(--font-oswald), sans-serif;
  margin-bottom: var(--spacing-md);
  text-transform: capitalize;
  max-width: 17ch;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 50em) {
  .maps__heading {
    font-size: var(--font-size-4xl);
    line-height: 61px;
    max-width: unset;
    margin: 1.75em 0 1em 0;
    /* margin-block: var(--spacing-padding-md); */
  }
}

/* UTILS */
.section-title {
  --text-align: center;
  --margin-inline: auto;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  line-height: 47.42px;
  text-align: var(--text-align);
  font-family: var(--font-oswald), sans-serif;
  margin-bottom: var(--spacing-md);
  text-transform: capitalize;
  max-width: 17ch;
  width: 100%;
  margin-inline: var(--margin-inline);
}

.accent {
  --accent-color: var(--accent-color);
  color: var(--color-accent);
}

.text-left {
  text-align: left;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (min-width: 50em) {
  .section-title {
    font-size: var(--font-size-4xl);
    line-height: 61px;
    max-width: unset;
    margin: 1.75em 0 1em 0;
    /* margin-block: var(--spacing-padding-md); */
  }
  .section-title--quality {
    margin: 0;
  }
}

/* QUALITY PAGE */
section[data-slice-type="quality_feature"] {
  margin-block: var(--spacing-section-y);
}
.quality__feature {
  display: grid;
  color: var(--color-text);
  font-size: var(--font-size-base);
  justify-content: center;
  align-items: center;
}
.quality__feature img {
  margin-bottom: var(--spacing-sm);
  max-height: 17.5rem;
  width: 100%;
  justify-self: center;
}
.quality__feature-text {
  justify-self: center;
}
.quality__feature p {
  max-width: 39ch;
}
.quality__feature ul {
  display: flex;
  list-style: inside;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--spacing-padding-sm);
  margin-top: var(--spacing-padding-base);
}

@media screen and (min-width: 50em) {
  .quality__feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--color-text);
    font-size: var(--font-size-base);
  }
  .quality__feature p {
    max-width: unset;
  }
  .quality__feature ul {
    display: flex;
    list-style: inside;
  }
  .quality__feature img {
    margin-bottom: var(--spacing-sm);
    max-height: 17.5rem;
    width: auto;
  }
}
/* Second part */
.quality-main-content {
  margin-block: var(--spacing-section-y);
}
.quality-main-content__layout {
  display: grid;
  justify-content: center;
}
.quality-main-content__image {
  order: -1;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.quality-main-content__title {
  font-size: var(--font-size-2_5xl);
  font-family: var(--font-oswald);
  margin-block: var(--spacing-padding-x-sm);
  text-align: left;
}
.quality-main-content__body-text:last-child {
  margin-top: var(--spacing-padding-md);
}

@media screen and (min-width: 50em) {
  .quality-main-content__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .quality-main-content__image {
    order: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .quality-main-content__title {
    font-size: var(--font-size-4xl);
    font-family: var(--font-oswald);
    margin-block: var(--spacing-padding-x-sm);
  }
  .quality-main-content__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-size-lg);
    padding: var(--spacing-padding-base) var(--spacing-padding-lg);
    border: 1px solid var(--color-border-light);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

/* CONTACT US */
.contact-us__layout {
  margin-block: var(--spacing-section-y);
  text-align: center;
}
.contact-us__section-p-description {
  color: var(--color-text-gray-drak);
  font-size: clamp(var(--font-size-base), 2vw, var(--font-size-lg));
  padding-inline: var(--spacing-padding-md);
}
.contact-us__state-boxes {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: var(--spacing-padding-lg);
  align-items: center;
  margin-block: var(--spacing-lg);
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
  will-change: transform;
}

.contact-us__state-boxes::-webkit-scrollbar {
  height: 6px;
}

.contact-us__state-boxes::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 3px;
}

.contact-us__state-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 8.875rem;
  min-width: 10.318rem;
  padding: var(--spacing-padding-base);
  border-radius: var(--spacing-sm);
  border: 1px solid var(--color-border-gray-light);
  cursor: pointer;
  box-shadow: var(--shadow-base);

  transition: all var(--transition-duration-medium)
    var(--transition--timing-cubic-bezier-base);
}
.contact-us__state-box--active {
  background-color: var(--color-border-gray-light);
  box-shadow: var(--shadow-base-transition);
}
.contact-us__state-box--active h4 {
  color: var(--color-primary);
}

.contact-us__state-box:first-child {
  margin-left: var(--spacing-xl);
}
.contact-us__state-box:last-child {
  margin-right: var(--spacing-xl);
}
.contact-us__state-box h4 {
  margin-top: auto;
}
.form__heading {
  font-family: var(--font-oswald);
  font-size: 20px;
  font-weight: 600;
  line-height: 29.64px;
  margin-block: var(--spacing-padding-x-sm) var(--spacing-padding-base);
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 31.375rem;
  margin-inline: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.left-col {
  grid-column: 1;
}

.right-col {
  grid-column: 2;
}

.full-col {
  grid-column: 1/-1;
}

.form input,
.form textarea {
  width: 100%;
  padding: var(--spacing-padding-x-sm) var(--spacing-padding-base);
  border: 1px solid var(--color-border-gray-light);
  border-radius: 4px;
}
.form input::placeholder {
  font-family: var(--font-src-sans);
  font-size: var(--font-size-sm);
}
.form textarea {
  resize: vertical;
}

/* TODO: transitions and such */
.form__submit-button {
  font-weight: bold;
  color: var(--color-text-light);
  background-color: var(--color-primary);
  text-transform: uppercase;
  padding: var(--spacing-padding-sm) var(--spacing-padding-base);
  border: none;
  outline: none;
  border-radius: var(--spacing-4xl);
  cursor: pointer;
}

.form__error {
  color: var(--color-accent-dark);
}

.form__input-label {
  color: var(--color-text-dark-light);
  margin-block: var(--spacing-unit);
  font-style: italic;
  margin-left: var(--spacing-padding-sm);
}

.form input[type="file"] {
  display: inline-block;
}
.form .file-label {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  color: var(--color-text-dark-light);
  width: 100%;
  padding: var(--spacing-padding-x-sm) var(--spacing-padding-base);
  border: 1px solid var(--color-border-gray-light);
  border-radius: 4px;
  font-style: italic;
  font-weight: 600;
}

@media screen and (min-width: 50em) {
  .contact-us__state-boxes {
    justify-content: center;
    column-gap: var(--spacing-padding-lg);
    margin-block: var(--spacing-lg);
  }
}
